@using WebApp.Models.Helpers;
<script src="~/Scripts/Views/Categoria.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/reset.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/theme.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="~/Content/Chart.min.js"></script>
<script src="~/Scripts/Views/ControlActions.js"></script>

@{
    Layout = "~/Views/Shared/PanelAdmin.cshtml";
}

<div class="jumbotron infoCard">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseRegistro" aria-expanded="false" aria-controls="collapseExample">
        Registrar nueva categoría
    </button>
    <form class="collapse" id="collapseRegistro">
        <div class="card card-body" style="background-color: white; margin-top:2em;">
            <div class="row justify-content-center align-items-center">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    @Html.CtrlInput(viewName: "Categoria", id: "txtIdCategoria", label: "Codigo categoría", placeholder: "", type: "number", columnDataName: "IdCategoria")
                    @Html.CtrlInput(viewName: "Categoria", id: "txtNombreCategoria", label: "Nombre categoría", placeholder: "", type: "text", columnDataName: "NombreCategoria")
                    @Html.CtrlButton(viewName: "Categoria", id: "btnRegistro", label: "Registrar Categoría", onClickFunction: "Create", style: "btn btn-primary")
                    @Html.CtrlButton(viewName: "Categoria", id: "btnUpdate", label: "Modificar Categoría", onClickFunction: "Update", style: "btn btn-primary")
                </div>
            </div>
        </div>
    </form>
</div>
@Html.CtrlTable(viewName: "Categoria", id: "tblCategoria", title: "Categorías",
    columnsTitle: "Codigo Categoría,Nombre Categoría", ColumnsDataName: "IdCategoria,NombreCategoria", onSelectFunction: "BindFields", colorHeader: "red")