@using WebApp.Models.Helpers;
<script src="~/Scripts/Views/RegistroProducto.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/reset.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/theme.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="~/Content/Chart.min.js"></script>
<script src="~/Scripts/Views/ControlActions.js"></script>
<link href="~/Content/RegistroProducto.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/PanelComercio.cshtml";
}
<div style="margin-top: 5px;">
    <h1 class="registro">Registro de Productos</h1>

    <form id="frmRegistro">
        <div class="row" id="frmRegistro">
            <div class="col">
                @Html.CtrlInput(viewName: "RegistroProducto", id: "txtIdProducto", label: "Código del Producto", placeholder: "", type: "text", columnDataName: "IdProducto")
                @Html.CtrlInput(viewName: "RegistroProducto", id: "txtNombreProducto", label: "Nombre del Producto", placeholder: "", type: "text", columnDataName: "NombreProducto")
                @Html.CtrlSelect(viewName: "RegistroProducto", id: "selectCategoria", label: "Seleccione la categoria")
                @Html.CtrlInput(viewName: "RegistroProducto", id: "txtPrecio", label: "Precio del Producto", placeholder: "", type: "number", columnDataName: "Precio")
            </div>
            <div class="col">
                <div class="col my-col" id="img">
                    <img id="img_producto" class="contenedor_imagen" />
                    @Html.CtrlButton(viewName: "RegistroProducto", id: "btnCloudinary", label: "Seleccionar imagen", onClickFunction: "showWidget", style: "btn btn-primary spaceBtn")
                    <div style="margin-top:1em">
                        @*@Html.CtrlCardProducto(viewName: "", id: "", ImageSource: "", NombreProducto: "", NombreComercio: "", PrecioProducto: "")*@
                        @Html.CtrlButton(viewName: "RegistroProducto", id: "btnRegistro", label: "Registrar Producto", onClickFunction: "Create", style: "btn btn-primary")
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

