@using WebApp.Models.Helpers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waffle</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b50459588c.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/Views/ControlActions.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDPjdm_vvORmMhPsDkI3lgIHdgkNqtuvrg"></script>
    <script src="~/Scripts/gmaps.js"></script>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/panel.css" rel="stylesheet" />

</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Waffle</div>
            <div class="list-group list-group-flush">
                <span class="side-element">
                    <i class="fas fa-home"></i>
                    @Html.ActionLink("Inicio", "InicioUsuarioFianl", "Home", new { @class = "side-a" })
                </span>
                <span class="side-element">
                    <i class="fas fa-utensils"></i>
                    @Html.ActionLink("Restaurantes", "Restaurantes", "Home", new { @class = "side-a" })
                </span>
                <span class="side-element">
                    <i class="fas fa-money-check-alt"></i>
                    @Html.ActionLink("Métodos de pago", "MetodosPago", "Home", new { @class = "side-a" })
                </span>
                <span class="side-element">
                    <i class="fas fa-ticket-alt"></i>
                    @Html.ActionLink("Promociones", "Promociones", "Home", new { @class = "side-a" })
                </span>
                <span class="side-element">
                    <i class="fas fa-history"></i>
                    @Html.ActionLink("Historial de pedidos", "HistorialPedidos", "Home", new { @class = "side-a" })
                </span>
                <span class="side-element">
                    <i class="fas fa-cog"></i>
                    @Html.ActionLink("Configuración", "ConfigUsuarioFinal", "Home", new { @class = "side-a" })
                </span>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="navbar-content">
                <button class="toggle" id="menu-toggle"><i class="fas fa-bars"></i></button>

                <div class="dropdown float-right">
                    <button type="button" class="carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                    <p class="label" id="username"></p>
                    <button class="btnSettings dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="" class="userPhoto" id="userPhoto" />
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Perfil", "Perfil", "Home", new { @class = "dropdown-item" })
                        @Html.ActionLink("Configuración", "ConfigUsuarioFinal", "Home", new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.CtrlButton(viewName: "logout", id: "btnCerrarSesion", label: "Cerrar sesión", onClickFunction: "logout", style: "dropdown-item")
                    </div>
                </div>
                <input class="searchbar" type="text" placeholder="" />





            </div>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Scripts/Views/SessionManager.js"></script>
    <script src="~/Scripts/Views/Panel.js"></script>
</body>
</html>